<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tarc.edu.selfcheckoutapp"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/profile"
        android:label="EzScan"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup,android:icon,android:label">
        <activity android:name=".VoucherDetailsActivity"></activity>
        <activity android:name=".ViewVoucherActivty" />
        <activity android:name=".WalletHistoryActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".TransactionDetailsActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".PinVerificationActivity" />
        <activity android:name=".SetTransactionPinActivity" />
        <activity android:name=".SelectPaymentActivity" />
        <activity android:name=".WalletTopUpActivity" />
        <activity android:name=".eWalletActivity" />
        <activity android:name=".ViewMapActivity" />
        <activity android:name=".ProductDetailsActivity" />
        <activity android:name=".ViewReceiptActivity" />
        <activity android:name=".TransactionSuccessfulActicity" />
        <activity android:name=".SummaryReviewActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="${applicationId}.braintree" />
            </intent-filter>
        </activity>
        <activity android:name=".TransactionHistoryActivity" />
        <activity
            android:name=".LiveBarcodeScanningActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.SettingsActivity"
            android:exported="false"
            android:label="@string/settings_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />

        <meta-data
            android:name="sendotp.key"
            android:value="@string/sendotp_key" />
    </application>

</manifest>